<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/templates/bootstrap.min.css">
</head>
<body>

<div class="container">
    <table class="table">
        <tr>
            <td>作者</td>
            <td>国籍</td>
            <td>生卒年</td>
            <td>描述</td>
        </tr>

        <tr th:each="item : ${painters}">
            <td th:text="${item.getName()}"></td>
            <td th:text="${item.getCountry()}"></td>
            <td th:text="${item.getBirth()}+'-'+${item.getDeath()}"></td>
            <td th:text="${item.getDescription()}"></td>
        </tr>
    </table>
</div>



</body>
</html>